set -x
uv lock --upgrade && uv sync
set +x

nginx_ver="$(curl -s https://api.github.com/repos/nginx/nginx/releases/latest | jq --raw-output .name | sed s#release-#nginx:#)"
echo docker.io/library/"$nginx_ver"-alpine | tee nginx-image.txt

source .venv/bin/activate
