*
**

!.gitignore

!TGS Podcast.xml
!apology-line-rss-example.xml

!etc/
!etc/nginx
!etc/nginx/conf.d
!etc/nginx/conf.d/default.conf

!bin/
!bin/*
/bin/port-forward-80

!LICENSE
!Makefile
!README.md

!gistfile1.py
!requirements.txt
!*.sh
